<form [formGroup]="userForm" class="mb-3">
  <div class="row">
    <div class="form-group col-md-6">
      <label for="nome">Nome</label>
      <input
        id="nome"
        type="text"
        class="form-control"
        [class.is-invalid]="
          userForm.get('nome')?.errors && userForm.get('nome')?.touched
        "
        formControlName="nome"
      />
      <div
        *ngIf="userForm.get('nome')?.hasError('required')"
        class="invalid-feedback"
      >
        Nome Obrigatório
      </div>
      <div
        *ngIf="userForm.get('nome')?.hasError('maxlenght')"
        class="invalid-feedback"
      >
        Maximo de Caracteres atingido
      </div>
    </div>
    <div class="form-group col-md-3">
      <label for="idade">Idade</label>
      <input
        id="idade"
        type="number"
        class="form-control"
        [class.is-invalid]="
          userForm.get('idade')?.errors && userForm.get('idade')?.touched
        "
        formControlName="idade"
      />
      <div
        *ngIf="userForm.get('idade')?.hasError('required')"
        class="invalid-feedback"
      >
        Idade Obrigatória
      </div>
      <div
        *ngIf="
          userForm.get('idade')?.hasError('min') ||
          userForm.get('idade')?.hasError('max')
        "
        class="invalid-feedback"
      >
        Idade não permitida, somente de 18 a 80 anos
      </div>
    </div>
  </div>
  <button  [disabled]="!userForm.valid" (click)="SubmitForm()" class="btn btn-success mt-3">Incluir</button>
</form>

<div class="row">
  <app-user-card
    (userInfoEmitter)="infoUserSelecionado($event)"
    *ngFor="let user of users"
    [user]="user"
    class="col-md-3 mb-3"
  ></app-user-card>
</div>
<div *ngIf="userSelecionado" class="mt-3 border col-md p-3">
  <h2>Usuário selecionado</h2>
  <p>Nome: {{ userSelecionado?.nome }}</p>
  <p>Idade: {{ userSelecionado?.idade }}</p>
</div>
