<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Busque por um username"
        aria-label="Busque por um username"
        [(ngModel)]="username"
        name="username"
      />
      <button (click)="getGitUser()" class="btn btn-success" type="button">Pesquisar</button>
    </div>
  </div>
</div>
<div *ngIf="user" class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card text-center">
        <img [src]="user?.avatar_url" alt="" class="card-image-top" />
        <div class="card-body">
          <h5 class="card-title">{{ user?.name }}</h5>
          <p class="card-text">{{ "@" + user?.login }}</p>
          <div class="text-center row">
            <div class="col-md">
              <p class="m-0"><b>Seguidores</b></p>
              <p class="car-text">{{ user?.followers }}</p>
            </div>
            <div class="col-md">
              <p class="m-0"><b>Seguindo</b></p>
              <p class="car-text">{{ user?.following }}</p>
            </div>
          </div>
          <a class="btn btn-primary" [href]="user?.html_url">Visitar perfil</a>
        </div>
      </div>
    </div>
  </div>
</div>
